<div class="container-fluid bg-black opacity-80 p-3">

    <div>
      <div>
        <h1 class="w3 text-white p-3">Últimas entradas</h1>
      </div>
    
      <div class="card mb-3">
        <div class="row no-gutters bg-semidarkM">
          <div class="col-md-4">
            <img src="\assets\images\BLACE.png" class="card-img" alt="Card image cap" style="height: 20vh">
          </div>
          <div class="col-md-8">
            <div class="card-body text-white align-items-center">
              <a class="nav-link text-white" [routerLink]="['/articulos/1']"><h5 class="card-title">Baby Blacephalon lo quema todo</h5></a>
              <p class="card-text">En este artículo encontraremos una versión adaptada al nuevo meta de la baraja Baby Blacephalon y veremos si le puede plantar cara al nuevo meta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  

</div>