<div class="container bg-black opacity-80 p-3">

  <!-- Título de la subpágina -->
  <div>
    <h1 class="w3 text-white p-3">Vídeos</h1>
  </div>
  <!-- Descripción -->
  <div class="w3 text-white">
    <label>
      En esta sección encontrarás los vídeos de decklist interesantes, partidas ya jugadas y torneos en diferido.
    </label>
  </div>

  <!-- Videos -->    

  <div class="card mb-3"><a href="https://www.twitch.tv/videos/638094329?filter=all&sort=time">
    <div class="row no-gutters bg-semidarkM">
      <div class="col-md-4">
        <img src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/72883f16d0b0d97141b0_limitless_tcg_91995777480_2512122979//thumb/thumb638094329-320x180.jpg" class="card-img" alt="Card image cap" style="height: 20vh">
      </div>
      <div class="col-md-8">
        <div class="card-body text-white align-items-center">
          <h5 class="card-title">Final Limitless Qualifier</h5>
          <p class="card-text">En este vídeo encontraremos la final de uno de los mayores torneos online en el cual se enfrentan Taketo Seki vs Azul García Griego</p>
        </div>
      </div>
    </div>
  </a>
  </div>
</div>
