<div class="container bg-black opacity-80 p-3">

  <!-- Título de la subpágina -->
  <div>
    <h1 class="w3 text-white p-3">Recursos</h1>
  </div>
  <!-- Descripción -->
  <div class="w3 text-white">
    <label>
      En esta sección encontrarás recursos para poder desde consultar los decks que se encuentran en el metajuego como poder hacer tu decklist.
    </label>
  </div>
  <!-- Lista de recursos -->
  <div>
    <h4 class="w3 text-white p-3">Simulador de TCG Online</h4>
    <ul>
      <li class="toc-entry toc-h2"><a href="https://tcgone.net">TCGOne</a></li>
    </ul>
  </div>

  <div>
    <h4 class="w3 text-white p-3">Canales de YouTube</h4>
    <ul>
      <li class="toc-entry toc-h2"><a href="https://www.youtube.com/channel/UCEZlNLKMWQ7FV33gr9lpX9A">AzulGG</a></li>
      <li class="toc-entry toc-h2"><a href="https://www.youtube.com/channel/UCt2NlhRtMMF5mFlSZxTesiA/featured">Tablemon</a></li>
      <li class="toc-entry toc-h2"><a href="https://www.youtube.com/user/TCGZapdos">ZapdosTCG</a></li>
    </ul>
  </div>

  <div>
    <h4 class="w3 text-white p-3">Decklist creator</h4>
    <ul>
      <li class="toc-entry toc-h2"><a href="https://player.rk9labs.com/decklist/">RK9Labs Decklist creator</a></li>
    </ul>
  </div>

  <div>
    <h4 class="w3 text-white p-3">Listas competitivas</h4>
    <ul>
      <li class="toc-entry toc-h2"><a href="https://limitlesstcg.com/decks/">Limitless TCG Decklists</a></li>
    </ul>
  </div>

</div>
